/* Custom css styles and fixes */
/* *************************** */

/* Question Detail */
#question-file-container {
    padding: 1.25rem;

}

#question-file-container img { margin-left: 0; }

.lpad15 { padding-left: 15px !important; }

.error-text {
    color: #ff7600 !important;
}

.font-weight-bold {
    font-weight: 700!important;
}

#member-list.team_card .team_member {
    text-align: left;
    margin: 5px 5px 8px 15px;
}
