/* Custom css styles and fixes */
/* *************************** */

/* Question Detail */
#question-file-container {
    padding: 1.25rem;

}

#question-file-container img { margin-left: 0; }

.lpad15 { padding-left: 15px !important; }